*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 33px;
}

table{
  margin-top: 40px;
  margin-bottom: 40px;
}

.tr-td{
  padding:5px;
}

.new-p{
  padding-top:10px;
}

.top_container
{
  margin: 30px;
}

.show_tr{
  margin:20px;
}

form{
  margin: 15px;
}